*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared css */
body {
    font-size: 16px;
}

.btn {
   background-color: #FD6E0A;
   border: none;
   padding: 18px 35px;
   font-size: 20px;
   color: #fff;
   border-radius: 5px;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


/* main css */
header {
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    font-size: 3rem;
    color: #181818;
}

.menu {
    display: flex;
    gap: 50px;
    font-size: 20px;
    align-items: center;
}

.menu li{
    list-style: none;
}

.menu li a{
    color: #474747;
    text-decoration: none;
}

#hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   margin: 0 38px 0 230px;
}

#hero-banner .banner-content {
    max-width: 585px;
}
#hero-banner .banner-content h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#hero-banner .banner-content h1 {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

#hero-banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#hero-banner .banner-image img {
    vertical-align: middle;
}